<ul class="nav navbar-nav ">
  <li><%= nav_link "Cities", cities_path %></li>
  <li><%= nav_link "Holidays", holidays_path %></li>
  <li><%= nav_link "Clients", clients_path %></li>
  <li><%= nav_link "Advances", advances_path %></li>
</ul>
