<ul class="nav navbar-nav ">
  <li class="menu-item menu-books"><%= link_to 'Baixar Parcelas', item_advances_path  %></li>
  <li class="menu-item menu-books"><%= link_to "Caixa", index_user_operator_current_accounts_path %></li>
</ul>
